body { 
    font-family: 'Vazirmatn', sans-serif; 
}

.slider-container { 
    position: relative; 
    height: 400px; 
}

@media (max-width: 768px) {
    .slider-container { 
        height: 200px; 
    }
}

.slider-img { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    opacity: 0; 
    transition: opacity 0.5s; 
}

.slider-img.active { 
    opacity: 1; 
}

.overflow-x-auto::-webkit-scrollbar { 
    display: none; 
}

.overflow-x-auto { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

@media (max-width: 640px) {
    .text-xxs { 
        font-size: 0.625rem; 
    }
}

.tab-active { 
    background: #fee2e2; 
    color: #ef4444; 
}
